@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}


@page { margin: 0; }

@media print {
  html, body { height: 100%; }

  body * {
    visibility: hidden;
  }

  #print-qr,
  #print-qr * {
    visibility: visible;
  }

  #print-qr {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    margin: 0;
    padding: 0;
    display: block;
    width: max-content;
  }
}

