@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

@page { margin: 0; }

/* default: a schermo */
.print-only { display: none !important; }
.no-print { display: block !important; }


@media print {
  html, body { height: 100%; background: #fff !important; }

  /* nascondi tutto */
  body * { visibility: hidden !important; }

  /* mostra SOLO l'area stampa */
  #print-qr { 
    visibility: visible !important; 
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    background: #fff !important;
    color: #000 !important;
    border: none !important;
    box-shadow: none !important;
    filter: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  #print-qr * { 
    visibility: visible !important;
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    filter: none !important;
  }

  /* in stampa: togli roba web */
  .no-print { display: none !important; }
  .print-only { display: block !important; }

  /* e nascondi URL lungo */
  #print-qr p { display: none !important; }

  /* centra e pulisci testo */
  #print-qr .text-transparent { color: #000 !important; }
}
